@media (max-width: 321px) {

    .cell {
        /** TODO: Set width and height of image. **/
        /**
            width = container width / number of cells per row.
        **/
        background-size: 108px 98px;
        background-repeat: no-repeat;
        background-position: center bottom;

        /** Cell height should equal height of image. **/
        height: 150px;
    }
	
    .container-visualizer {
		margin-top: -38px;
    }

    .cell-row-1 .cell {
        bottom: 0px;
    }

    .cell-row-2 .cell {
        bottom: 80px;
    }

    .cell-row-3 .cell {
        bottom: 160px;
    }

    .cell-row-4 .cell {
        bottom: 240px;
    }

    .cell-row-5 .cell {
        bottom: 320px;
    }

    .cell-pull-right {
        left: 25px;
    }

    .cell-pull-left {
        right: 25px;
    }

    .cell-img {
        height: 80px;
        width: 80px;
        background-size: 80px 80px;
        background-position: center;
    }

    .cell-4, .cell-5, .cell-9, .cell-10 {
        padding-left: 20px;
    }


}

@media only screen and (min-width: 321px) and (max-width: 481px) {

    .cell {
        /** TODO: Set width and height of image. **/
        /**
            width = container width / number of cells per row.
        **/
        background-size: 100px 90px;
        background-repeat: no-repeat;
        background-position: center bottom;

        /** Cell height should equal height of image. **/
        height: 150px;
    }
	
    .container-visualizer {
		margin-top: -38px;
    }

    .cell-row-1 .cell {
        bottom: 0px;
    }

    .cell-row-2 .cell {
        bottom: 80px;
    }

    .cell-row-3 .cell {
        bottom: 160px;
    }

    .cell-row-4 .cell {
        bottom: 240px;
    }

    .cell-row-5 .cell {
        bottom: 320px;
    }

    .cell-pull-right {
        left: 20px;
    }

    .cell-pull-left {
        right: 20px;
    }

    .cell-img {
        height: 100px;
        width: 100px;
        background-size: 100px 100px;
        background-position: center;
    }

    .cell-4, .cell-5, .cell-9, .cell-10 {
        padding-left: 20px;
    }


}

@media only screen and (min-width: 481px) and (max-width: 720px) {


    .cell {
        /** TODO: Set width and height of image. **/
        /**
            width = container width / number of cells per row.
        **/
        background-size: 128px 118px;
        background-repeat: no-repeat;
        background-position: center bottom;

        /** Cell height should equal height of image. **/
        height: 150px;
    }
	
    .container-visualizer {
		margin-top: -10px;
    }

    .cell-row-1 .cell {
        bottom: 0px;
    }

    .cell-row-2 .cell {
        bottom: 80px;
    }

    .cell-row-3 .cell {
        bottom: 160px;
    }

    .cell-row-4 .cell {
        bottom: 240px;
    }

    .cell-row-5 .cell {
        bottom: 320px;
    }

    .cell-pull-right {
        left: 45px;
    }

    .cell-pull-left {
        right: 45px;
    }

    .cell-img {
        height: 120px;
        width: 120px;
        background-size: 120px 120px;
        background-position: center;
    }

    .cell-4, .cell-5, .cell-9, .cell-10 {
        padding-left: 30px;
    }

}
