@media (max-width: 320px) {

    .cell {
        height: 122px;

        background-size: 88px 122px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: green;
        **/
    }

    .cell-pull-left {
        right: 10px;
    }

    .cell-pull-right {
        left: 10px;
    }

    .cell-row-2 .cell {
        bottom: 50px;
    }

    .cell-row-3 .cell {
        bottom: 100px;
    }

    .cell-row-4 .cell {
        bottom: 150px;
    }

}

@media only screen and (min-width: 321px) and (max-width: 481px) {

    .cell {
        height: 142px;

        background-size: 105px 142px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: green;
        **/
    }

    .cell-pull-left {
        right: 10px;
    }

    .cell-pull-right {
        left: 10px;
    }

    .cell-row-2 .cell {
        bottom: 60px;
    }

    .cell-row-3 .cell {
        bottom: 120px;
    }

    .cell-row-4 .cell {
        bottom: 180px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {
    .cell {
        height: 152px;

        background-size: 125px 152px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: green;
        **/
    }

    .cell-pull-left {
        right: 10px;
    }

    .cell-pull-right {
        left: 10px;
    }

    .cell-row-2 .cell {
        bottom: 60px;
    }

    .cell-row-3 .cell {
        bottom: 120px;
    }

    .cell-row-4 .cell {
        bottom: 180px;
    }

}
