@media (max-width: 320px) {
    .container-visualizer {
        width: 220px;
        margin-top: -50px;
        margin-left: 10px;
    }

    #text-container {
        margin-top: -180px;
        padding-top: 0;
    }

    .cell {
        /** Set width and height of image. **/
        /**
            width = container width / number of cells per row.
        **/
        background-size: 80px 40px;
        background-repeat: no-repeat;
        background-position: center bottom;

        /** Cell height should equal height of image. **/
        height: 150px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: green;
        **/
    }

    .cell-pull-right {
        left: 20px;
    }

    .cell-pull-left {
        right: 20px;
    }

    .cell-pull-right .cell-img {
        margin-left: -35px;
    }

    .cell-pull-left .cell-img {
        margin-left: -34px;
    }

    .cell-img {
        margin-top: 72px;
        margin-left: -15px;
        height: 80px;
        width: 80px;
        background-size: 80px 80px;
        background-position: center;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container-visualizer {
        width: 280px;
        margin-top: -50px;
    }

    #text-container {
        margin-top: -190px;
    }

    .cell {
        /** Set width and height of image. **/
        /**
            width = container width / number of cells per row.
        **/
        background-size: 100px 50px;
        background-repeat: no-repeat;
        background-position: center bottom;

        /** Cell height should equal height of image. **/
        height: 150px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: green;
        **/
    }

    .cell-pull-right .cell-img {
        margin-left: -28px;
    }

    .cell-pull-left .cell-img {
        margin-left: -28px;
    }

    .cell-img {
        margin-top: 53px;
        margin-left: -14px;
        height: 100px;
        width: 100px;
        background-size: 100px 100px;
        background-position: center;
    }
    .description-container {
        padding: 10px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .container-visualizer {
        width: 350px;
        margin-top: -50px;
    }

    .cell {
        /** Set width and height of image. **/
        /**
            width = container width / number of cells per row.
        **/
        background-size: 120px 60px;
        background-repeat: no-repeat;
        background-position: center bottom;

        /** Cell height should equal height of image. **/
        height: 150px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: green;
        **/
    }

    .cell-pull-right .cell-img {
        margin-left: -22px;
    }

    .cell-pull-left .cell-img {
        margin-left: -22px;
    }

    .cell-img {
        margin-top: 33px;
        height: 120px;
        width: 120px;
        background-size: 120px 120px;
        background-position: center;
    }

    #text-container {
        margin-top: -200px;
    }

    .description-container {
        padding: 10px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
    #text-container {
        margin-top: -200px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    #text-container {
        margin-top: 8%;
    }

    .description-container {
        margin-top: -15%;
        padding: 10px 100px 10px 100px;
    }

}

@media (max-width: 800px) {
    .description-container {
        padding: 10px 20px 10px 20px !important;
    }
}