@media (max-width: 321px) {
	
    .cell {
        background-size: 75px 40px;
    }

    .cell-pull-right {
        left: 20px;
    }

    .cell-pull-left {
        right: 20px;
    }

    .cell-pull-right .cell-img {
        margin-left: -34px;
    }

    .cell-pull-left .cell-img {
        margin-left: -34px;
    }

    .cell-img {
        margin-top: 33px;
        margin-left: -14px;
        height: 75px;
        width: 75px;
        background-size: 75px 75px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
	
    .cell {
        background-size: 75px 40px;
    }

    .cell-pull-right {
        left: 20px;
    }

    .cell-pull-left {
        right: 20px;
    }

    .cell-pull-right .cell-img {
        margin-left: -32px;
    }

    .cell-pull-left .cell-img {
        margin-left: -32px;
    }

    .cell-img {
        margin-top: 75px;
        margin-left: -12px;
        height: 75px;
        width: 75px;
        background-size: 75px 75px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
	
    .cell {
        background-size: 120px 60px;
    }

    .cell-pull-right .cell-img {
        margin-left: -22px;
    }

    .cell-pull-left .cell-img {
        margin-left: -22px;
    }

    .cell-img {
        margin-top: 33px;
        margin-left: -13px;
        height: 120px;
        width: 120px;
        background-size: 120px 120px;
    }
}