@media (max-width: 321px) {
    .cell {
        height: 74px;

        background-size: 45px 35px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {

    .cell {
        height: 74px;

        background-size: 45px 35px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
		
    }
	
    .container-visualizer {
		margin-top: 0px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {

    .cell {
        height: 74px;

        background-size: 60px 50px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }
	
    .container-visualizer {
		margin-top: 12px;
    }
}
