@media (max-width: 321px) {
    .cell {
        height: 74px;

        background-size: 70px 60px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {

    .cell {
        height: 74px;

        background-size: 70px 60px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}
