
body {
    font-family: "UniversLTStd-Cn", sans-serif;
}

@font-face {
    font-family: "UniversLTStd-Cn";
    src: url("/static/fonts/UniversLTStd-Cn.otf");
}

h1 {
    font-weight: bold;
}

.btn {
    border: 2px solid black;
    background-color: transparent !important;
    font-size: 15px;
}

.btn:hover {
    border: 2px solid black;
    background-color: black !important;
    color: #fff;
    font-size: 15px;
}

.btn-primary {
    background-color: black !important;
    color: #fff !important;
}