#year-buttons button {
    width: 80px;
}

div#viz-container {
    height: 355px;
}

.container-visualizer{
    width: 500px;
}

.maternal-description-container{
    margin-top:-200px;
}

@media(max-width: 400px){
    .maternal-percentage-container{
        margin-top: -300px;
        margin-left: 50%
    }
}
@media (max-width: 321px) {
    .container-visualizer {
        width: 210px;
        margin-left: 10px;
    }

    .maternal-percentage-container{
        margin-top:-300px !important;
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .container-visualizer {
        margin-left: 50px !important;
        width: 210px;
    }
	
	.text-container{
		margin-top: 50px;
	}
	
    .description-container {
        padding: 20px !important;
    }
	
    .maternal-percentage-container{
        margin-top:-300px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .container-visualizer {
        width: 350px;
		margin-left: 30px !important;
    }
	
	.text-container{
		margin-top: 50px;
	}
	
    .description-container {
        margin-top: 10px;
    }
	
    .maternal-percentage-container{
        margin-top:-300px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 992px) {
	
	.text-container{
		margin-top: 50px;
	}
	
    .description-container {
        margin-top: 50px;
    }
	
    .maternal-percentage-container{
        margin-top:-300px !important;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	
    .description-container {
        margin-top: 50px;
    }
	
    .maternal-percentage-container{
        margin-top:-300px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {

    .description-container {
        margin-top: 50px;
    }
    .short-description-text{
        text-align: left;
        margin-left: 10%;
    }

}
