@media (max-width: 320px) {
    .container-visualizer {
        width: 220px;
        margin-top: -5px;
        margin-left: 20px;
    }

    #text-container {
        padding-top: 0;
    }

    .desk {
        height: 80px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: black;
        **/

        background-image: url('../img/desk.png');
        background-size: 70px 55px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .student {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 80px;

        background-size: 35px 57px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: red;
        **/
    }

}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .container-visualizer {
        width: 280px;
        padding: 0;
        margin-left: 10px;
    }

    #text-container {
    }

    .desk {
        height: 80px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: black;
        **/

        background-image: url('../img/desk.png');
        background-size: 90px 65px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .student {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 80px;

        background-size: 50px 69px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: red;
        **/
    }

}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .container-visualizer {
        width: 330px;
        padding: 0;
        margin-left: 10px;
    }

    #text-container {
    }

    .desk {
        height: 100px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: black;
        **/

        background-image: url('../img/desk.png');
        background-size: 120px 90px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .student {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 100px;

        background-size: 60px 89px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: red;
        **/
    }
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
    #text-container {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    #text-container {
        margin-top: 7%;
    }
    .description-container {
        padding: 10px 100px 10px 100px;
    }
}

@media (max-width: 800px) {
    .description-container {
        padding: 10px 20px 10px 20px !important;
    }
}