@media (max-width: 320px) {

    .desk {
        height: 80px;
        background-image: url('../img/desk.png');
        background-size: 70px 55px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .student {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 80px;
        background-size: 35px 57px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

}

@media only screen and (min-width: 321px) and (max-width: 480px) {


    .desk {
        height: 80px;
        background-image: url('../img/desk.png');
        background-size: 80px 65px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .student {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 80px;
        background-size: 40px 69px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .desk {
        height: 100px;
        background-image: url('../img/desk.png');
        background-size: 130px 90px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .student {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 100px;
        background-size: 55px 89px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

    }
}
