.high-secondary .girl{
	/* Styling */
	background-image: url('../img/high-secondary-girl.png');
	background-size: 74px 150px;
	height: 150px;  
}

.high-secondary .stack{
	/** Styling **/
	background-color: #ff00aa;
}

.high-secondary .stack-2011{
	height: 150px;
}

.high-secondary .stack-2012{
    /** Styling **/
    height: 120px;  
}

.high-secondary .stack-2013{
	height: 240px;
}

.high-secondary .stack-2014{
	height: 210px;
}

.high-secondary .stack-2015{
	height: 100px;
}

.high-secondary .girl-2011{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 150px = 130px */
	margin-top: 100px;
}

.high-secondary .girl-2012{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 120px = 130px */
	margin-top: 130px;
}

.high-secondary .girl-2013{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 240px = 10px */
	margin-top: 10px;
}

.high-secondary .girl-2014{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 210px = 130px */
	margin-top: 40px;
}

.high-secondary .girl-2015{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 100px = 150px */
	margin-top: 150px;
}