.preschool .girl{
	/* Styling */
	background-image: url('../img/preschool-girl.png');
	background-size: 74px 150px;
	height: 150px;   
}

.preschool .stack{
	/** Styling **/
	background-color: #ffcc00;
}

.preschool .stack-2011 {
	height: 240px;
}

.preschool .stack-2012 {
	height: 100px;
}

.preschool .stack-2013 {
	height: 210px;
}

.preschool .stack-2014 {
	height: 150px;
}

.preschool .stack-2015{
    /** Styling **/
    height: 120px;  
}


.preschool .girl-2011{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 240px = 10px */
	margin-top: 10px;
}

.preschool .girl-2012{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 100px = 150px */
	margin-top: 150px;
}

.preschool .girl-2013{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 210px = 130px */
	margin-top: 40px;
}

.preschool .girl-2014{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 150px = 130px */
	margin-top: 100px;
}

.preschool .girl-2015{
	/* totalHeight - girlHeight - stackHeight */
	/* 400px - 150px - 120px = 130px */
	margin-top: 130px;
}