@media (max-width: 321px) {

    .cell {
        height: 120px;

        /**
        border-style: solid;
        border-width: thin;
        border-color: black;
        **/

        background-size: 120px 100px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }
	
    .container-visualizer {
		margin-top: 0px;
    }

    .unit {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 116px;

        background-size: 45px 77px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;

        /**
        border-style: solid;
        border-width: thin;
        border-color: red;
        **/
    }

    .row-cell-2 .row .unit {
        bottom: 30px;
    }

    .row-cell-3 .row .unit {
        bottom: 60px;
    }

}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .cell {
        height: 120px;
        background-size: 120px 100px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }
	
    .container-visualizer {
		margin-top: 0px;
    }

    .unit {
        /* Not 150pk height, because need to push up the student a bit to fit on on desk properly. */
        height: 116px;

        background-size: 45px 77px; /** width height **/
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .row-cell-2 .row .unit {
        bottom: 30px;
    }

    .row-cell-3 .row .unit {
        bottom: 60px;
    }

}



@media only screen and (min-width: 481px) and (max-width: 720px) {
    .row-cell-2 .row .unit {
        bottom: 27px;
    }

    .row-cell-3 .row .unit {
        bottom: 54px;
    }
}


@media only screen and (min-width: 721px) and (max-width: 1024px) {

    .row-cell-2 .row .unit {
        bottom: 20px;
    }

    .row-cell-3 .row .unit {
        bottom: 40px;
    }

}
